<a href="https://colab.research.google.com/github/ContriBCN/ContriBCN/blob/main/2024_Introduccion_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python &#x1F60E; 🐍;

Reglas indispensables a seguir en Python:


1.   Respetar indentaciones
2.   *Case Sensitive*
3.   Definir elementos previos a su invocación (*sentido en el que corre el código*)
4.   Tener en cuenta al sobreescribir elementos ya definidos

## Importación de librerías

In [ ]:
import sys          # Proporciona acceso a funciones y variables específicas del sistema.
import keyword      # Permite trabajar con las palabras clave de Python.
import operator     # Ofrece acceso a operadores funcionales, como operaciones matemáticas y lógicas.
from datetime import datetime  # Importa la clase datetime para trabajar con fechas y horas.
import os           # Proporciona una manera de usar funcionalidades dependientes del sistema operativo.

## Declaración de Variables
*  El nombre debe comenzar con letras o un guión bajo
*  No se permiten espacios en blanco ni caracteres especiales (como @, #, $, %, etc.)
*  No usar palabras reservadas del lenguaje como nombres de variables (if, else, while, for, def, class, import, etc)

In [ ]:
# a = 'soy una variable valida'
# print(a)
# a, b, c = 'string', 15, True
# print(b)
my_list = ['Pepito Perez', 'Pepita Perez']
padre, hija = my_list
print(hija)

Pepita Perez

## Tipo de datos

### Fundamentales &#x1F4D3;

#### Datos de cadena de caracteres (str)

In [ ]:
string_simple = 'Pontia'
string_doble = "Pon@tia"
string_con_comillas = '"Pontia"'
string_con_comillas_escape = "\"Pontia\""
string_triple_doble_comillas = """Pontia"""
string_tambien = "255"

# print(len(string_con_comillas))
len(string_simple)
print(len(string_simple))

print(type(string_tambien))
print(string_tambien)

6

In [ ]:
print(keyword.kwlist)
len(keyword.kwlist)

# print(type(string_tambien))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Ejemplo de indexación del string "*Python*" &#x1F913;

![indexacion_strings.png]()

In [ ]:
string_simple = 'python'
# Imprime el segundo carácter de la cadena 'string_simple' (índice 1)
print(string_simple[4])

# Imprime el tercer carácter desde el final de 'string_simple'
print(string_simple[-3])

# Compara si el segundo carácter y el tercer último carácter de 'string_simple' son iguales
print(string_simple[1] == string_simple[-5])

# Busca la primera ocurrencia de 'o' en 'string_simple' y devuelve su índice. Si no se encuentra, devuelve -1.
print(string_simple.find('u'))

# Busca la primera ocurrencia de 'o' en 'string_simple' y devuelve su índice. Si no se encuentra, lanza un error.
print(string_simple.index('u'))

-1

In [ ]:
# Crea una cadena de texto
txt = "Todos han jugado al paddel pero yo nunca lo he jugado"

# Busca la palabra "paddel" en la cadena 'txt' y almacena el índice de inicio en 'indice_paddel'
indice_paddel = txt.find("paddel")


# Imprime el índice donde comienza la subcadena "paddel"
print(indice_paddel)

#buscarían la letra 'e' entre los índices 2 y 11 de la cadena 'txt'
# Si la letra 'e' no se encuentra en ese rango, la función index() lanzaría un error.
x = txt.index("a", 2, 11)
print(x)

7

In [ ]:
string_simple = "hoy es martes 20"
# Convertir la primera letra de 'string_simple' a mayúscula
print(string_simple.capitalize())

# Convertir todos los caracteres de 'string_simple' a mayúsculas
print(string_simple.upper())

# Alternativa para convertir todos los caracteres a minúsculas
print(string_simple.lower())

# Verificar si todos los caracteres en 'string_simple' están en mayúsculas
print(string_simple.isupper())

# Alternativa para verificar si todos los caracteres están en minúsculas
print(string_simple.islower())

# Verificar si todos los caracteres en 'string_simple' son alfabéticos
print(string_simple.isalpha())

# Verificar si todos los caracteres en 'string_simple' son numéricos
print(string_simple.isnumeric())

# Reemplazar 'i' por 'a' en 'string_simple', luego 'h' por espacio
print(string_simple.replace('hoy es ','x'))

xmartes 20

In [ ]:
# Uso del método STRIP para limpiar caracteres no deseados en los extremos de una cadena

# Definir una cadena con caracteres '~' alrededor de la palabra 'Python'

ejemplo_strip_simple = "~~~Python~~~"

# Imprimir la cadena original
print(ejemplo_strip_simple)

# Eliminar todos los caracteres '~' de los extremos de la cadena
variable_limpia = ejemplo_strip_simple.strip("~")

# Imprimir la cadena 'limpia'
print(variable_limpia)

Python

In [ ]:
# Definir una cadena con una mezcla de '.' y '-' alrededor de la palabra 'Python'
ejemplo_strip = "----------.--Py-thon----|-----.---"

# Eliminar todos los caracteres '.' y '-' de los extremos
variable_limpia = ejemplo_strip.strip(".-|")
print(variable_limpia.replace('-',''))

# Imprimir la cadena con '-' eliminados también del interior
print(variable_limpia.replace('-',''))
print(variable_limpia)
# Eliminar solo los caracteres '.' de los extremos
variable_limpia = ejemplo_strip.strip(".")
print(variable_limpia)

# Eliminar solo los caracteres '-' de los extremos
variable_limpia = ejemplo_strip.strip("-")
print(variable_limpia)

# Eliminar caracteres de la izquierda
print(ejemplo_strip.lstrip(".-"))

# Eliminar caracteres de la derecha
print(ejemplo_strip.rstrip(".-|"))

----------.--Py-thon

In [ ]:
# Convertir la cadena a formato de título
txt = "hola, este seria un titulo de ejemplo"
print(txt.title())


# mayúsculas por minúsculas y viceversa.
print(txt.title().swapcase())

hOLA, eSTE sERIA uN tITULO dE eJEMPLO

In [ ]:
string_simple = "---velen"
# Union de cadenas
print(string_simple + ", " + "como va todo?")

# Format strings
print(f"{string_simple.capitalize()}, como va todo?") #placeholder{}
print("{},como va todo ?".format(string_simple))

cadena1 = "El precio de la cafetera es de {precio:.0f} rupias." # "f" = float
print(cadena1.format(precio=255.99))

cadena2 = "Ese armario mide {altura:.1f} metros." # "f" = float
print(cadena2.format(altura=2))

print("No se dice {}, se dice {}".format(string_simple.lstrip("-"), string_simple.replace('v','b').upper().lstrip("-")))

print(f"No se dice {string_simple.lstrip('-')} , se dice {string_simple.replace('v','b').upper().lstrip('-')}")

No se dice velen , se dice BELEN

##<font color='yellow'> DESAFÍO

- Crea una nueva cadena llamada 'saludo' que use la variable 'string_simple' y la concatene con la frase ", cómo estás hoy?" utilizando el operador +.
- Utiliza f-strings para imprimir la variable 'string_simple' en mayúsculas, seguida de la pregunta "cómo te encuentras hoy?".
- Emplea el método .format() para crear una cadena que indique que el precio de una bici es de 1150.4332€, mostrando 3 decimales.
- Con otro .format(), forma una cadena que diga que "un luchador de sumo pesa 132,89 kg", especificando solo un decimal en el peso.
- Corrige la frase "En programación, mi herramienta favorita es Python"
para que diga "En programación, mi INSTRUMENTO favorito es PYTHON".

In [ ]:
string_simple = 'Hola'
saludo = string_simple + ", cómo estás hoy?"
print(saludo)

Hola, cómo estás hoy?

In [ ]:
print(f"{string_simple.upper()}, cómo estás hoy?")

HOLA, cómo estás hoy?

In [ ]:
cadena = "El precio de una bici es de {precio:.3f}€"
print(cadena.format(precio=1150.4332))

El precio de una bici es de 1150.433€

In [ ]:
peso_luchador = "Un luchador de sumo pesa {peso:.1f}kg"
print(peso_luchador.format(peso=132.89))

Un luchador de sumo pesa 132.9kg

In [ ]:
frase1 = "En programación, mi herramienta favorita es Python"
print(frase1.replace('herramienta','HERRAMIENTA').replace('Python','PYTHON'))

En programación, mi HERRAMIENTA favorita es PYTHON

#### Datos numéricos

In [ ]:
# Ejemplos de tipos de datos numéricos en Python y la promoción de tipos

# En operaciones numéricas donde se mezclan diferentes tipos, el tipo numérico "más pequeño"
# (por ejemplo, int) se convierte automáticamente al tipo "más grande" (por ejemplo, float).

# Definición de un número entero (int)
numerico_entero = 9

# Definición de un número con decimales (float)
numerico_decimal = 7.0

print(numerico_entero + numerico_decimal )

# Definición de un número complejo (complex)
# Un número complejo tiene una parte real y una parte imaginaria
numerico_complejo = 1+2j

# Para acceder a la parte real o imaginaria de un número complejo, puedes hacerlo así:
parte_real = numerico_complejo.real
print(parte_real)
parte_imaginaria = numerico_complejo.imag
print(parte_imaginaria)
# Ejemplo de impresión de las partes de un número complejo
print(f"La parte real es {parte_real} y la parte imaginaria es {parte_imaginaria}")

print(numerico_entero + numerico_decimal)

La parte real es 1.0 y la parte imaginaria es 2.0

#### Datos lógicos

In [ ]:
# Definición de variables booleanas
buleano1 = False
buleano2 = True

# Esta sección demuestra un condicional básico utilizando una variable booleana.
# Si 'buleano2' es True, imprime "Soy verdadero". De lo contrario, imprime "No soy verdadero :(".
if buleano2:
  print("Soy verdadero")
else:
  print("No soy verdadero :(")

# Creación de un rango de números del 0 al 9 y conversión a lista
rango = range(10)
lista_de_numeros = list(rango)
print(lista_de_numeros)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Inicialización de una lista vacía
lista_de_numeros2 = []

# Imprime el tipo de la variable 'lista_de_numeros', que sería <class 'list'>
print(type(lista_de_numeros2))

# Este condicional verifica si 'lista_de_numeros' tiene elementos.
# Una lista vacía se evalúa a False en un contexto booleano.
# Por lo tanto, si la lista está vacía, imprimirá "No soy verdadero :(".
if lista_de_numeros:
  print("Soy verdadero")
else:
  print("No soy verdadero :(")

# Definición de una variable con el valor None, que representa la "nada" o un valor nulo en Python
vacio = None

In [ ]:
# Imprime el tipo de la variable 'vacio', que sería <class 'NoneType'>
print(type(vacio))

# Este condicional verifica si 'vacio' tiene algún valor.
# 'vacio' tiene asignado None, que se evalúa a False en un contexto booleano.
# Por lo tanto, imprimirá "No soy verdadero :(".
if vacio:
  print("Soy verdadero")
else:
  print("No soy verdadero :(")

No soy verdadero :(

### De recolección ("Collection data") &#x1F4DA;

#### Listas
*   Mutables
*   Indexados
*   Definido con corchetes "[ ]"

In [ ]:
# Creación de listas en Python

# Lista de números, incluye tanto enteros como flotantes.
lista_numerica = [8, 55, 9.26, 3402, 15.0]

# Lista de cadenas de texto, algunos elementos se repiten, como 'Area 52'.
lista_string = ['Area 52', 'Tyrande', 'Elwynn Forest', 'Area 52', 'Thunderfury, Blessed Blade of the Windseeker', 'Area 52', 'Li Li']

# Lista mixta que contiene cadenas de texto, números, y otra lista.
lista_mixta = ['pontia', 4, 137.5, lista_numerica]

In [ ]:
# Imprime el tipo de 'lista_mixta', que será <class 'list'>.
print(type(lista_mixta))

#Lista
lista = [['pontia', 4, 137.5]]

# Accede e imprime el segundo elemento de 'lista_numerica' (índices comienzan en 0), que es 55.
print(lista_numerica[1])

print(len(lista_mixta))

# Imprime el tipo de 'vacio', que es None, mostrando <class 'NoneType'>.
print(type(vacio))

4

In [ ]:
### Manipulación de indexación - START STOP STEP
# Lista de números, incluye tanto enteros como flotantes.
lista_numerica = [8, 55, 9.26, 3402, 15.0]
# Accediendo a los primeros dos elementos de 'lista_numerica' usando slicing.
# Omite el índice de inicio y usa 2 como índice de parada, lo que selecciona los elementos desde el inicio hasta el segundo elemento.
primeros_dos_elementos = lista_numerica[:3]
print(primeros_dos_elementos)

# Obtiene el tercer y cuarto elemento de 'lista_numerica'.
# El índice de inicio es 2 (tercer elemento, ya que el conteo inicia en 0) y el índice de parada es 4, excluyendo el cuarto elemento.
tercer_y_cuarto = lista_numerica[2:4]
print(tercer_y_cuarto)

# Accede a los últimos dos elementos de 'lista_numerica'.
# El índice de inicio es -4, lo que significa que empieza desde el cuarto elemento contando desde el final, hasta el final de la lista.
ultimos_dos_elementos = lista_numerica[-2:]
print(ultimos_dos_elementos)

[9.26, 3402]

In [ ]:
### Izquierda a Derecha

# Crea una copia de 'lista_numerica' sin modificarla, recorriendo de izquierda a derecha con un paso de 1.
lista_normal = lista_numerica[::1]
print(lista_normal)

# Obtiene elementos de 'lista_numerica' con una zancada de 2, es decir, selecciona cada segundo elemento de la lista.
lista_zancada = lista_numerica[::2]
print(lista_zancada)

### Derecha a Izquierda

# Invierte 'lista_numerica', recorriendo la lista de derecha a izquierda con un paso de -1.
lista_invertida = lista_numerica[::-1]
print(lista_invertida)



lista_numerica = [8, 55, 9.26, 3402, 15.0]

In [ ]:
# Importación del módulo copy para realizar copias profundas y superficiales de listas
import copy

### Manipulación de listas (Métodos de la clase lista)

lista_string = ['Area 52', 'Tyrande', 'Elwynn Forest', 'Area 52', 'Thunderfury, Blessed Blade of the Windseeker', 'Area 52', 'Li Li']

# Añade un nuevo elemento al final de 'lista_string'.
lista_string.append("elemento nuevo")

# Muestra 'lista_string' después de añadir el nuevo elemento.
print(lista_string)

['Area 52', 'Tyrande', 'Elwynn Forest', 'Area 52', 'Thunderfury, Blessed Blade of the Windseeker', 'Area 52', 'Li Li', 'elemento nuevo']

In [ ]:
# Crea una copia superficial de 'lista_string' en 'lista_nueva'.
# Una copia superficial significa que los objetos dentro de la lista son los mismos (misma referencia).
lista_nueva = copy.copy(lista_string)
print(lista_nueva)
# Añade un número al final de 'lista_nueva' para demostrar que es independiente de 'lista_string'.
lista_nueva.append(5)
print(lista_nueva)
# Separa visualmente las salidas para claridad.
print("----------------------------------------------------------------------------")
print(lista_string)

['Area 52', 'Tyrande', 'Elwynn Forest', 'Area 52', 'Thunderfury, Blessed Blade of the Windseeker', 'Area 52', 'Li Li', 'elemento nuevo']
['Area 52', 'Tyrande', 'Elwynn Forest', 'Area 52', 'Thunderfury, Blessed Blade of the Windseeker', 'Area 52', 'Li Li', 'elemento nuevo', 5]
----------------------------------------------------------------------------
['Area 52', 'Tyrande', 'Elwynn Forest', 'Area 52', 'Thunderfury, Blessed Blade of the Windseeker', 'Area 52', 'Li Li', 'elemento nuevo']

In [ ]:
# Cambia el último elemento de 'lista_string' por "elemento nuevo".
lista_nueva[-1] = ''
print(lista_nueva)

# Imprime la longitud de 'lista_string'.
print(len(lista_string))

# Limpia 'lista_string', es decir, elimina todos sus elementos, dejándola como una lista vacía.
lista_nueva.clear()
print(len(lista_nueva))

['Area 52', 'Tyrande', 'Elwynn Forest', 'Area 52', 'Thunderfury, Blessed Blade of the Windseeker', 'Area 52', 'Li Li', 'elemento nuevo', '']

In [ ]:

# Lista de cadenas de texto, algunos elementos se repiten, como 'Area 52'.
lista_string = ['Area 52', 'Tyrande', 'Elwynn Forest', 'Area 52', 'Thunderfury, Blessed Blade of the Windseeker', 'Area 52', 'Li Li']
# Crea una copia de 'lista_string'. Este método de copia es específico de las listas y también crea una copia superficial.
lista_string_2 = lista_string.copy()
print(lista_string)
print('----------------')
print(lista_string_2)
lista_string_2[-2] = "55"
print(lista_string_2)
# Cuenta cuántas veces aparece el número 55 en 'lista_numerica'.
print(lista_string_2.count('Area 52'))

# Crea otra copia de 'lista_string' y añade 'lista_numerica' como un único elemento al final.
lista_string_2 = copy.copy(lista_string)
print(lista_string_2)
lista_string_2.append(lista_numerica)
print(f"EJEMPLO CON APPEND:\n{lista_string_2}")

print("--------")

# Extiende 'lista_string' con los elementos de 'lista_numerica', equivalente a una concatenación de listas.
lista_string.extend(lista_numerica)
print(f"EJEMPLO CON EXTEND: \n{lista_string}")  # Extend concatena las listas

In [ ]:

# Encuentra el índice del primer 'Area 52' en 'lista_string'.
print(lista_string_2.index('Area 52'))

# Inserta 'Varyan' al inicio de 'lista_string'.
lista_string_2.insert(5,'Varyan')
print(lista_string_2)

# Elimina y devuelve el último elemento de 'lista_string'.
lista_string.pop()
print(lista_string)

# Elimina la primera aparición de un espacio en blanco en 'lista_string'. Si se ejecuta, causaría un error ya que no hay un espacio para remover.
lista_string_2.remove("Tyrande")
print(lista_string_2)

TypeError: 'str' object cannot be interpreted as an integer

In [ ]:
# Invierte el orden de los elementos en 'lista_string'.
lista_string_2.reverse()
print(lista_string_2)

# Ordena 'lista_string'. Primero en orden ascendente, luego en orden descendente, y finalmente por longitud de los elementos.
lista_string.sort()
lista_string.sort(reverse=True)
print(lista_string)

lista_string.sort(key=len)  # Ordena por longitud de los elementos
print(lista_string)

sorted(lista_numerica)

print(lista_numerica)

# Crea una lista ordenada de 'lista_numerica' usando la función sorted(), la cual no modifica la lista original.
ej_sorted = sorted(lista_numerica)
print(ej_sorted)

# Intenta imprimir el resultado de 'lista_numerica.reverse()', lo cual es None, ya que reverse() modifica la lista in place y no devuelve nada.
print(lista_numerica.reverse())  # Esto imprimirá None

[8, 55, 9.26, 3402, 15.0]

In [ ]:
##ORDEN ALFABÉTICO
lista_string = ['Area 52', 'Tyrande', 'Elwynn Forest', 'Area 52', 'Thunderfury, Blessed Blade of the Windseeker', 'Area 52', 'Li Li']
lista_string.sort()
print(lista_string)

['Area 52', 'Area 52', 'Area 52', 'Elwynn Forest', 'Li Li', 'Thunderfury, Blessed Blade of the Windseeker', 'Tyrande']

In [ ]:
##ORDEN POR LONGITUD DE LOS ELEMENTOS
lista_string = ['Area 52', 'Tyrande', 'Elwynn Forest', 'Area 52', 'Thunderfury, Blessed Blade of the Windseeker', 'Area 52', 'Li Li']
lista_string.sort(key=len)
print(lista_string)

['Li Li', 'Area 52', 'Tyrande', 'Area 52', 'Area 52', 'Elwynn Forest', 'Thunderfury, Blessed Blade of the Windseeker']

In [ ]:
### LISTA NUMERICA DE MENOR A MAYOR
lista_numerica = [8, 55, 9.26, 3402, 15.0]
lista_numerica.sort()
print(lista_numerica)

[8, 9.26, 15.0, 55, 3402]

In [ ]:
### ORDEN DE MAYOR A MENOR
lista_numerica = [8, 55, 9.26, 3402, 15.0]
lista_numerica.sort(reverse = True)
print(lista_numerica)

[3402, 55, 15.0, 9.26, 8]

In [ ]:
lista_numeros = [-5, -2, 3, 1, 4]
lista_numeros.sort(key=abs)
print(lista_numeros)

[1, -2, 3, 4, -5]

In [ ]:
# Modificación de elementos en listas

# Cambia el primer elemento de 'lista_mixta' por un número complejo (6+4j).
lista_mixta[0] = 6+4j
# Imprime la lista modificada para ver el cambio.
print(lista_mixta)

In [ ]:
# Conversión de String a Lista y viceversa

# Se define una cadena de texto.
txt = """Soy un ejemplo de texto."""

# Convierte la cadena 'txt' en una lista 'txt_lista', donde cada palabra se convierte en un elemento de la lista.
# El método .split() divide la cadena en palabras utilizando espacios como separadores por defecto.
txt_lista = txt.split()
# Imprime la lista resultante para ver las palabras de 'txt' como elementos individuales.
print(txt_lista)

# Separador visual en la salida.
print("----------------")

# Combina los elementos de 'txt_lista' en una nueva cadena 'x', intercalando '--' entre cada palabra.
# El método .join() toma una lista de cadenas y las concatena en una sola cadena, utilizando la cadena sobre la que se llama ('--' en este caso) como separador.
x = '--'.join(txt_lista)
# Imprime la cadena resultante para ver el efecto del método .join().
print(x)

Soy--un--ejemplo--de--texto.

## <font color='yellow'>DESAFÍO
Imagina que estás desarrollando un programa que necesita procesar información sobre un grupo de estudiantes y sus calificaciones. Aquí tienes las tareas específicas que debes completar:

- Tienes una lista de calificaciones de estudiantes: calificaciones = [95, 82, 59, 78, 88, 93]. Un estudiante aprueba si su calificación es 60 o más. Crea una nueva lista llamada aprobados que contenga True o False dependiendo de si cada estudiante ha aprobado o no, utilizando comprensión de listas.

- Calcula la calificación promedio de la clase y almacénala en una variable llamada promedio. Imprime el resultado con un mensaje que diga "La calificación promedio de la clase es: [promedio]".

- A partir de la lista original calificaciones, crea una nueva lista llamada calificaciones_mejoradas donde has añadido 5 puntos extra a cada estudiante cuya calificación original fue menor a 90. Usa comprensión de listas para esto. Asegúrate de que ninguna calificación exceda de 100.

- Finalmente, encuentra e imprime la calificación más alta usando la función max() sobre la lista calificaciones_mejoradas.

####DICCIONARIOS

- **Mutables:** Su contenido puede cambiar durante la ejecución del programa.
- **No secuenciales:*** No están ordenados o indexados por un número de secuencia, lo que significa que no se accede a sus elementos mediante un índice numérico.
- **Sintaxis con llaves {}:** Se definen encerrando sus elementos entre llaves.
- Pares clave-valor: Cada elemento en un diccionario es un par de clave y valor (clave: valor).
- **Claves únicas e inmutables:** Las claves deben ser de un tipo de dato inmutable, como cadenas, números o tuplas que contengan solo objetos inmutables. Cada clave es única dentro de un diccionario.

<font color='lightblue'>*Si no hay indexación, no se aceptan duplicado de valores (en este caso, duplicado de claves).

In [1]:
# Creación de diccionarios

# Este diccionario intenta asignar múltiples razas a la misma clave ('perro', 'gato'),
# pero cada clave puede tener solo un valor asociado, por lo que se sobrescriben los valores anteriores.
razas = {"perro": "Dachshund",


         "gato": "Bengal"
         }


# Este diccionario asocia nombres de razas de animales con su especie.
dic_razas = {"Labrador": "perro",
             "Golden Retriever": "perro",
             "Galgo": "perro",
             "Siamés": "gato",
             "Persa": "gato",
             "Sphynx": "gato"}

In [2]:
print(razas)

{'perro': 'Dachshund', 'gato': 'Bengal'}

In [3]:
print(dic_razas)

{'Labrador': 'perro', 'Golden Retriever': 'perro', 'Galgo': 'perro', 'Siamés': 'gato', 'Persa': 'gato', 'Sphynx': 'gato'}

#####EJEMPLO🎈🎈


Imaginemos que estás administrando una pequeña tienda de mascotas. Queremos mantener un registro de las distintas mascotas disponibles en tu tienda y sus características.

In [4]:
# Creación de Diccionarios

# Este diccionario asocia tipos de mascotas con una raza específica disponible en la tienda.
mascotas_disponibles = {"perro": "Labrador",
                        "gato": "Siamés"}

# Este diccionario asocia nombres de mascotas con su especie y raza.
info_mascotas = {"Buddy":{"especie": "perro", "raza": "Labrador"} ,
                 "Misty": {"especie": "gato", "raza": "Siamés"}}

# Imprime los diccionarios creados para verificar la información.
print(mascotas_disponibles)
print(info_mascotas)
# Imprime el número de mascotas registradas.
print("Número de mascotas registradas:", len(info_mascotas))
print(mascotas_disponibles)

{'perro': 'Labrador', 'gato': 'Siamés'}
{'Buddy': {'especie': 'perro', 'raza': 'Labrador'}, 'Misty': {'especie': 'gato', 'raza': 'Siamés'}}
Número de mascotas registradas: 2
{'perro': 'Labrador', 'gato': 'Siamés'}

In [5]:
### Manipulación de Diccionarios

# Vamos a actualizar la información de las mascotas disponibles, ya que acabamos de recibir nuevos animales.
mascotas_disponibles.update({"perro": "Golden Retriever", "hámster": "Dorado"})

# Crearemos una copia del diccionario de información de mascotas antes de hacer cambios.
info_mascotas_copia = info_mascotas.copy()
print(info_mascotas_copia)
# Agregamos una nueva mascota al registro.
info_mascotas["Sparky"] = {"especie": "perro", "raza": "Golden Retriever"}

# Intentamos obtener información de una mascota específica.
print("Información de Misty:", info_mascotas.get('Misty'))

# Intentamos imprimir la información actualizada de las mascotas.
print("Información actualizada de mascotas:", info_mascotas.items())
print("Especies registradas:", info_mascotas.keys())
print("Razas registradas:", info_mascotas.values())# nos devuelve todos los valores del diccionario

print(info_mascotas)

{'Buddy': {'especie': 'perro', 'raza': 'Labrador'}, 'Misty': {'especie': 'gato', 'raza': 'Siamés'}}
Información de Misty: {'especie': 'gato', 'raza': 'Siamés'}
Información actualizada de mascotas: dict_items([('Buddy', {'especie': 'perro', 'raza': 'Labrador'}), ('Misty', {'especie': 'gato', 'raza': 'Siamés'}), ('Sparky', {'especie': 'perro', 'raza': 'Golden Retriever'})])
Especies registradas: dict_keys(['Buddy', 'Misty', 'Sparky'])
Razas registradas: dict_values([{'especie': 'perro', 'raza': 'Labrador'}, {'especie': 'gato', 'raza': 'Siamés'}, {'especie': 'perro', 'raza': 'Golden Retriever'}])
{'Buddy': {'especie': 'perro', 'raza': 'Labrador'}, 'Misty': {'especie': 'gato', 'raza': 'Siamés'}, 'Sparky': {'especie': 'perro', 'raza': 'Golden Retriever'}}

In [6]:
# Eliminamos una mascota que ha sido adoptada.
info_mascotas.pop('Buddy')

# Imprimimos la información final de las mascotas después de las actualizaciones.
print("Información final de mascotas:", info_mascotas)

Información final de mascotas: {'Misty': {'especie': 'gato', 'raza': 'Siamés'}, 'Sparky': {'especie': 'perro', 'raza': 'Golden Retriever'}}

In [7]:
# Actualización y Manipulación de Diccionarios en un Contexto de Tienda de Mascotas

# Actualizamos el valor de la clave 'Labrador' a None para indicar que actualmente no tenemos información específica de esa raza.
dic_razas = {"Labrador": "perro",
             "Golden Retriever": "perro",
             "Galgo": "perro",
             "Siamés": "gato",
             "Persa": "gato",
             "Sphynx": "gato"}
dic_razas.update({'Labrador': None})
print("Después de actualizar Labrador:", dic_razas)

# Intentamos establecer el valor por defecto para 'Galgo' (que ya existe) y 'Rottweiler' (que no existe).
dic_razas.setdefault('Galgo')  # Ya existe, así que no cambia nada.
dic_razas.setdefault('Rottweiler') # No existe, se agrega con valor None por defecto.
dic_razas.setdefault('Rottweiler', 'perro')  # No cambia el valor de 'Rottweiler' porque ya se agregó con None.

# Creación de un nuevo diccionario con claves específicas y asignándoles a todas el mismo valor 'Mascota'.
claves = ['Perro', 'Gato', 'Conejo']
valores = 'Mascota'
dic_nuevo = dict.fromkeys(claves, valores)
print("Nuevo diccionario de tipos de mascotas:", dic_nuevo)

# Conseguir y imprimir el primer valor del diccionario 'dic_razas'.
primer_elemento = list(dic_razas.keys())[0]
print("Primer elemento en dic_razas:", dic_razas.get(primer_elemento))

# Imprime el estado actual de 'dic_razas'.
print("Estado actual de dic_razas:", dic_razas)

Después de actualizar Labrador: {'Labrador': None, 'Golden Retriever': 'perro', 'Galgo': 'perro', 'Siamés': 'gato', 'Persa': 'gato', 'Sphynx': 'gato'}
Nuevo diccionario de tipos de mascotas: {'Perro': 'Mascota', 'Gato': 'Mascota', 'Conejo': 'Mascota'}
Primer elemento en dic_razas: None
Estado actual de dic_razas: {'Labrador': None, 'Golden Retriever': 'perro', 'Galgo': 'perro', 'Siamés': 'gato', 'Persa': 'gato', 'Sphynx': 'gato', 'Rottweiler': None}

In [11]:
# Uso de Diccionarios para Relacionar Plantas con Estaciones

# Se define un diccionario con varias plantas y la estación en la que florecen.
diccionario_plantas = {
    "Rosa": "Primavera",
    "Lirio": "Primavera",
    "Girasol": "Verano",
    "Poinsettia": "Invierno"
}

# Agrega un nuevo par clave-valor al diccionario, asignando "Otoño" como la estación de la "Caléndula".
diccionario_plantas["Caléndula"] = "Otoño"

# Al imprimir 'diccionario_plantas', ahora incluirá también la "Caléndula" y su correspondiente estación, "Otoño".
print("Diccionario actualizado de plantas y sus estaciones de floración:", diccionario_plantas)

Diccionario actualizado de plantas y sus estaciones de floración: {'Rosa': 'Primavera', 'Lirio': 'Primavera', 'Girasol': 'Verano', 'Poinsettia': 'Invierno', 'Caléndula': 'Otoño'}

####Tupla
* **Inmutables:** Una vez creada, no puedes modificar, añadir, o eliminar elementos de una tupla. Esto las hace ideales para asegurar que ciertos datos permanezcan constantes a lo largo de tu programa.
* **Están indexadas:** Puedes acceder a sus elementos mediante índices, al igual que en las listas. El índice de los elementos inicia en 0.
* **Definidas con paréntesis ( ):** Aunque los paréntesis son opcionales en la creación de tuplas, su uso es una buena práctica para hacer el código más legible.

In [20]:
# Definición de una tupla para cada artículo de la lista de compras.
# Cada tupla contiene el nombre del artículo y la cantidad que necesitas comprar.
tupla_compras = (("Manzanas", 10), ("Leche", 1), ("Huevos", 12), ("Pan", 2))
print(tupla_compras)
# Creación de una tupla que contiene un único elemento: un artículo que recordaste que necesitas, pero solo uno.
tupla_unico_articulo = ("Aceite de oliva",)
print(tupla_unico_articulo)

# Al imprimir el tipo de 'tupla_unico_articulo', confirmamos que es una tupla.
print("Tipo de 'tupla_unico_articulo':", type(tupla_unico_articulo))

# Intento de crear una 'lista' de un solo artículo sin usar la coma, para ver la diferencia.
no_es_tupla = ("Papel higiénico")
# Al imprimir el tipo de 'no_es_tupla', mostramos que es una cadena, no una tupla.
print("Tipo de 'no_es_tupla':", type(no_es_tupla))

# Imprimimos la lista completa de compras para revisar.
print("Lista completa de compras:", tupla_compras)

Lista completa de compras: (('Manzanas', 10), ('Leche', 1), ('Huevos', 12), ('Pan', 2))

####Set
*   Inmutables -> no se pueden modificar, añadir o eliminar elementos
* No Indexados: No puedes acceder a los elementos de un conjunto mediante índices como lo harías en una lista o tupla.
* Desordenados: Los elementos en un conjunto no siguen ningún orden específico, y el orden puede cambiar con cada ejecución.
* Sintaxis con Llaves {}: Los conjuntos se definen encerrando sus elementos entre llaves.
Unicidad: Cada elemento en un conjunto es único; no se permiten duplicados.
* Especificidad de Valores: En un conjunto, True es considerado igual a 1, y False igual a 0, debido a cómo Python maneja la igualdad de valores.

In [28]:
# Definición de dos conjuntos con algunos elementos comunes y otros únicos.
campo1 = {'Hola', 'Que', 'Tal', 'Todo', 'Bien'}
campo2 = {'Hola', 'Todo', 'Bien'}

# La intersección de conjuntos devuelve un nuevo conjunto que contiene solo los elementos que están en ambos conjuntos.
# En este caso, imprimiría los elementos comunes a ambos, 'Hola', 'Todo' y 'Bien'.
print(campo1.intersection(campo2))

# La unión de conjuntos combina los elementos de ambos conjuntos, sin duplicados.
# Imprimiría todos los elementos únicos presentes en 'campo1' y 'campo2'.
print(campo1.union(campo2))

# Imprime los tipos de 'campo1' y 'campo2' para confirmar que son conjuntos.
# Se espera que la salida sea <class 'set'> para ambos.
print(type(campo1), type(campo2))

{'Que', 'Todo', 'Bien', 'Tal', 'Hola'}

## Estructuras de Control de Flujo
*  If
*  For
*  While

***EJEMPLO 1 🎈***
Supongamos que eres un analista de datos en una empresa de comercio electrónico y debes revisar las ventas diarias de un producto popular para identificar días con desempeño inusual (tanto positiva como negativamente).

In [34]:
# Importación de la biblioteca numpy para usar sus funciones estadísticas
import numpy as np

# Supongamos que estas son las ventas diarias del último mes de un producto específico.
ventas_diarias = np.array([120, 150, 130, 200, 180, 90, 80, 220, 210, 140, 160, 190, 110, 130, 150, 170, 200, 230, 180, 190, 220, 210, 130, 140, 160, 180, 200, 220, 240, 210])

# Calculamos el promedio de ventas del último mes.
promedio_ventas = np.mean(ventas_diarias)
print(promedio_ventas)

# Generamos un número aleatorio para representar las ventas de hoy.
ventas_hoy = np.random.randint(80, 250)  # Supongamos que las ventas pueden variar entre 80 y 250 unidades.

In [36]:
# Uso de estructuras de control para analizar el desempeño de las ventas de hoy.
print(f"Ventas hoy: {ventas_hoy} unidades, Promedio de ventas del último mes: {promedio_ventas:.2f} unidades.")

if ventas_hoy > promedio_ventas:
  print("Las ventas de hoy son superiores al promedio del último mes. ¡Buen trabajo!")
elif ventas_hoy < promedio_ventas:
  print("Las ventas de hoy son inferiores al promedio del último mes. Es necesario analizar posibles causas.")
else:
  print("Las ventas de hoy son exactamente iguales al promedio del último mes. Estamos en la línea base.")

Las ventas de hoy son superiores al promedio del último mes. ¡Buen trabajo!

**EJEMPLO 2**🎈
Imagina que trabajas como analista de datos en una empresa y acabas de realizar una encuesta de satisfacción al cliente. Las respuestas a las preguntas de la encuesta, que miden la satisfacción en términos porcentuales, han sido recopiladas en una escala de 0 a 1 (donde 1 representa el 100% de satisfacción y 0 representa el 0% de satisfacción). Necesitas convertir estas respuestas a valores porcentuales enteros para preparar un informe:

In [40]:
# Inicialización de una lista vacía para almacenar los porcentajes.
lista_porcentajes = []

# Se define una lista de resultados de la encuesta de satisfacción del cliente en formato decimal.
lista_decimales = [0.2, 0.85, 0.1, 0.63, 0.59]

# El bucle 'for' itera sobre cada resultado de la encuesta 'd' en 'lista_decimales'.
for d in lista_decimales:# 'd' es la variable que asignamos para darle un valor
  # Multiplica el resultado 'd' por 100 para convertirlo en un porcentaje.
  p = d * 100
  # Añade el porcentaje a 'lista_porcentajes' como un entero, usando 'int(p)' para convertirlo.
  lista_porcentajes.append(int(p))

# Al final del bucle, 'lista_porcentajes' contiene los valores de satisfacción del cliente convertidos a porcentajes enteros.
print("Porcentajes de satisfacción del cliente:", lista_porcentajes)

Porcentajes de satisfacción del cliente: [20, 85, 10, 63, 59]

***EJEMPLO 3 🎈***
Imagina que trabajas como analista de datos para una empresa de comercio electrónico. Se te proporciona un diccionario que contiene la cantidad de ventas de diferentes productos en el último mes. Necesitas revisar y reportar la cantidad de ventas de cada producto:

In [46]:
# Se define un diccionario con los productos y la cantidad de ventas.
mi_diccionario = {"Camisetas": 120, "Pantalones": 90, "Zapatillas": 60, "Sombreros": 30}
print(mi_diccionario)
# El primer bucle 'for' itera sobre cada producto en el diccionario.
for producto in mi_diccionario: #producto es el nombre que le estamos dando al elemento para que recorra la consulta
  print("Producto:", producto)
  print("Ventas:", mi_diccionario.get(producto))

# El segundo bucle 'for' itera sobre cada par producto-ventas en el diccionario utilizando .items().
for producto, ventas in mi_diccionario.items():
    # Imprime el producto y la cantidad de ventas.
    print("Producto:", producto, "- Ventas:", ventas)

Producto: Camisetas - Ventas: 120
Producto: Pantalones - Ventas: 90
Producto: Zapatillas - Ventas: 60
Producto: Sombreros - Ventas: 30

**EJEMPLO 🎈🎈**

Imagina que eres un analista de datos que ha recogido respuestas de una encuesta en línea donde los participantes indican si les gustó o no un nuevo producto. Las respuestas se recogieron como 'Sí' para los que les gustó y 'No' para los que no. Necesitas contar cuántas respuestas 'Sí' recibiste hasta alcanzar un número específico de respuestas positivas para determinar si el producto fue bien recibido.

In [64]:
# Inicialización de una lista con respuestas de la encuesta.
respuestas = ['Sí', 'No', 'Sí', 'Sí', 'Sí', 'No', 'Sí', 'Sí', 'No']

# Inicializa un contador para contar cuántas respuestas 'Sí' hay.
contador_si = 0

# Establece un objetivo de respuestas 'Sí' que deseas alcanzar.
objetivo_si = 5

# El bucle 'while' se ejecuta mientras el número de respuestas 'Sí' sea menor que el objetivo.
while contador_si < objetivo_si:
    # Elimina la primera respuesta de la lista y la guarda en una variable.
    respuesta_actual = respuestas.pop(0)

    # Comprueba si la respuesta actual es 'Sí'.
    if respuesta_actual == 'Sí':
        # Incrementa el contador de respuestas 'Sí'.
        contador_si += 1
        print(f"Se encontró una respuesta 'Sí'. Total hasta ahora: {contador_si}")

    # Verifica si la lista de respuestas se ha vaciado.
    if not respuestas:
        print("Se han revisado todas las respuestas.")
        break

# Imprime el total de respuestas 'Sí' encontradas.
print(f"Total de respuestas 'Sí': {contador_si}")

Se encontró una respuesta 'Sí'. Total hasta ahora: 1
Se encontró una respuesta 'Sí'. Total hasta ahora: 2
Se encontró una respuesta 'Sí'. Total hasta ahora: 3
Se encontró una respuesta 'Sí'. Total hasta ahora: 4
Se encontró una respuesta 'Sí'. Total hasta ahora: 5

##<font color='yellow'>DESAFÍO

Imagina que estás creando un sistema sencillo para gestionar los libros en una biblioteca, por lo cual deberás hacer lo siguiente:


- Crear un Catálogo de Libros: Define un diccionario llamado catalogo_libros que almacene algunos de los libros más leídos en España, donde las claves son los títulos de los libros y los valores son los nombres de los autores. Ejemplo:

  catalogo_libros =
      {"Don Quijote de la Mancha": "Miguel de Cervantes",
      "Cien años de soledad": "Gabriel García Márquez",
      "La sombra del viento": "Carlos Ruiz Zafón"}
    

- Búsqueda de Libro en el Catálogo: Pide al usuario que introduzca el nombre de un libro a través de input(). Utiliza un bucle 'for'para recorrer el catalogoLibros buscando si el libro introducido está disponible. Si se encuentra el libro, imprime "El autor del libro [nombre del libro] es [nombre del autor].". Si el libro no está en el catálogo, imprime "Lo sentimos, el libro [nombre del libro] no está disponible."

- Libros por Autor: Crea un conjunto llamado autores con los nombres de los autores en el catálogo. Usa el método .items() del diccionario y un bucle for para llenar este conjunto (recuerda que los conjuntos no permiten duplicados). Al final, imprime la lista de autores únicos disponibles en la biblioteca.

Recomendaciones: Define una tupla llamada recomendaciones con los nombres de tres libros recomendados que no estén en el catálogo inicial. Usa un bucle while para imprimir cada libro de la tupla con un mensaje que diga "Recomendamos leer: [nombre del libro]". Incrementa un contador para salir del bucle.

In [87]:
#PASO 1: definir el catalogo de libros

catalogo_libros = {"Don Quijote de la Mancha": "Miguel de Cervantes",
"Cien años de soledad": "Gabriel García Márquez",
"La sombra del viento": "Carlos Ruiz Zafón"}

print(catalogo_libros)

#PASO 2

nombre_libro = input("Introduce el nombre del libro: ") #para que el usuario introduzca el nombre del libro

encontrado = False #damos un valor de referencia para la búsqueda
for libro, autor in catalogo_libros.items(): #definimos los nombres para el bucle 'for'
    if libro == nombre_libro: #si el 'libro' es igual al nombre introducido imprime el nombre y el autor
        print(f"El autor del libro {libro} es {autor}.")
        encontrado = True #en caso que encontrado sea 'true', finaliza la búsqueda, si no, imprimie el mensaje de más abajo
        break

if not encontrado:
    print(f"Lo sentimos, el libro {nombre_libro} no está disponible.")
# hay una forma más sencilla con 'if'
if nombre_libro in catalogo_libros:
  print(f"El autor del libro {nombre_libro} es {catalogo_libros[nombre_libro]}.")
else:
  print(f"Lo sentimos, el libro {nombre_libro} no está disponible.")

#PASO 3

autores_unicos = set(catalogo_libros.values()) #creamos variable donde pedimos a la variable que nos traiga los valores
print("Autores únicos:",autores_unicos)

#PASO 4

recomendaciones = ("El alquimista - Paulo Coelho",
                   "El tatuador de Auschwitz - Pepito Pérez",
                   "Crónicas de una muerte anunciada - Gabriel García Márquez")
contador = 0
print("Recomendaciones de lectura: ")
while contador < len(recomendaciones):
  print(f"Recomendamos leer: {recomendaciones[contador]}")
  contador +=1

Recomendaciones de lectura:
Recomendamos leer: El alquimista - Paulo Coelho
Recomendamos leer: El tatuador de Auschwitz - Pepito Pérez
Recomendamos leer: Crónicas de una muerte anunciada - Gabriel García Márquez

## Operadores

###Operadores aritméticos

![aritmeticos.png]()

In [92]:
200.5 + 10
200 - 10.5
250 // 23 # 10,8695652173913
250 % 23 # resto 20

20

### Operadores relacionales


![relacionales.png]()

In [97]:
125 > 125.02

division = 100 / 2
# 50 == division

"cincuenta" != 'cincuenta'

False

In [103]:
# Se definen dos listas de marcas de automóviles.
lista1 = ["Toyota", "Ford", "BMW"]
lista2 = ["Mercedes-Benz", "Honda", "Volkswagen"]

# Compara si ambas listas tienen la misma cantidad de elementos.
print(len(lista1) == len(lista2))  # Imprime True si tienen la misma longitud, de lo contrario False.

# Comprueba si la longitud de la primera lista es menor o igual que la de la segunda.
print(len(lista1) <= len(lista2))  # Imprime True si lista1 es más corta o igual de larga que lista2.

# Compara la longitud del primer elemento de cada lista para ver cuál es más largo.
print(len(lista1[1]) > len(lista2[1]))  # Imprime True si el primer elemento de lista1 es más largo que el de lista2.

False

**#EJEMPLO 🎈🎈**

Supongamos que estás trabajando con una lista de nombres de usuarios que se han recopilado a través de un formulario en línea. A menudo, los usuarios pueden ingresar accidentalmente espacios adicionales antes o después de sus nombres, lo que podría causar problemas al realizar comparaciones o al almacenar estos datos en una base de datos.

In [113]:
# Se define una lista que incluye nombres de usuarios con y sin espacios extra al principio o al final.
lista_usuarios = ["Ana", "Carlos   ", " Diana", " Jorge    "]
print(lista_usuarios)

# Imprime cada nombre de usuario de la lista para mostrar los espacios al principio o al final.
print("Nombres de usuarios antes de la limpieza:")
for usuario in lista_usuarios:
  print(f"'{usuario}'")  # Los apóstrofes ayudan a visualizar los espacios.

# Limpia los espacios al principio y al final de cada nombre de usuario usando la comprensión de listas y el método .strip().
usuarios_limpios = [usuario.strip() for usuario in lista_usuarios]
print(usuarios_limpios)

# Imprime cada nombre de usuario después de la limpieza para mostrar la eliminación de los espacios.
print("\nNombres de usuarios después de la limpieza:")
for usuario_limpio in usuarios_limpios:
  print(f"'{usuario_limpio}'")  # Los apóstrofes ayudan a visualizar la ausencia de espacios.

# Ejemplo adicional: Compara la longitud de un nombre de usuario antes y después de la limpieza.
print(f"\nLongitud antes de limpiar: {len(lista_usuarios[2])}, Longitud después de limpiar: {len(usuarios_limpios[2])}")

Longitud antes de limpiar: 6, Longitud después de limpiar: 5

In [118]:
# Solicita al usuario que introduzca una contraseña.
password = input("Introduce una contraseña: ")

# Solicita al usuario que vuelva a introducir la misma contraseña para confirmación.
password_check = input("Vuelve a introducir la contraseña: ")

# Compara las dos contraseñas introducidas para verificar si son iguales.
if password == password_check:
  # Si las contraseñas coinciden, imprime un mensaje de éxito.
  print("Contraseña correctamente almacenada")
else:
  # Si las contraseñas no coinciden, informa al usuario que no son iguales.
  print("Las contraseñas no coinciden")

Introduce una contraseña: 1234
Vuelve a introducir la contraseña: 123
Las contraseñas no coinciden

###Operadores lógicos


![logicos.png]()

Buscando un resultado en **True**:
*  AND, &: todos los elementos deben ser True
*  OR, |: basta con que uno de los elementos sea True

In [127]:
# Inicialización de variables booleanas
a = True
b = False

# Uso del operador lógico 'or' para evaluar la expresión.
# La operación 'or' devuelve True si al menos uno de los operandos es True.
resultado_or = a and b

# Al imprimir 'resultado_or', mostrará True porque 'a' es True.
print(resultado_or)  # Este print muestra el resultado de 'resultado_or'.

False

In [129]:
# Invertir booleano
resultado = not a
resultado

False

In [132]:
# Solicita al usuario que introduzca un número entero.
numero = int(input("Introduce un número: "))

# Evalúa si el número es par y mayor que 100 utilizando el operador lógico 'and'.
# La expresión completa solo devuelve True si ambas condiciones son verdaderas:
# 1. 'numero % 2 == 0' verifica si el número es par.
# 2. 'numero > 100' verifica si el número es mayor que 100.
es_par_y_mayor_que_100 = (numero % 2 == 0) and (numero > 100)

# Imprime el resultado de la evaluación.
# Mostrará True si el número cumple ambas condiciones; de lo contrario, mostrará False.
print(es_par_y_mayor_que_100)  # Este print muestra el resultado de 'es_par_y_mayor_que_100'.

Introduce un número: 125
False

###Operadores de pertenencia

EJEMPLO 🎈🎈

Imagina que trabajas en el departamento de servicio al cliente de una compañía que acaba de lanzar un nuevo producto y has recibido una serie de comentarios de los clientes. Quieres analizar rápidamente estos comentarios para ver cuántos mencionan un término específico relacionado con el producto, como podría ser el nombre del producto.

In [137]:
# Se define una variable de cadena con el nombre del producto.
nombre_producto = "EcoFriendlyBottle"

# Se define una lista con varios comentarios de clientes.
comentarios = [
    "Realmente amo mi nueva EcoFriendlyBottle, ¡es perfecta para llevar al trabajo!",
    "No estoy seguro de si la EcoFriendlyBottle vale su precio.",
    "¿Alguien ha probado la EcoFriendlyBottle? Estoy pensando en comprar una.",
    "Preferiría algo más colorido que una EcoFriendlyBottle.",
    "¡La EcoFriendlyBottle mantiene mi bebida fría por horas!"
]

# Contador para los comentarios que mencionan el nombre del producto.
contador_menciones = 0

# Utiliza el bucle 'for' para iterar sobre cada comentario.
for comentario in comentarios:
    # Utiliza el operador 'in' para verificar si el nombre del producto aparece dentro del comentario.
    if nombre_producto in comentario:
        # Incrementa el contador si el nombre del producto se encuentra en el comentario.
        contador_menciones += 1
        print(f"Comentario mencionando '{nombre_producto}': {comentario}")

# Imprime el total de menciones encontradas.
print(f"Total de menciones de '{nombre_producto}': {contador_menciones}")

Total de menciones de 'EcoFriendlyBottle': 5

In [139]:
# Se define una lista de valores que contiene números enteros y flotantes.
lista_valores = [10, 55.5, 100, 155]

# Utiliza el operador 'not in' para verificar si 55 no está presente en 'lista_valores'.
# Esta operación devuelve True si 55 no se encuentra en 'lista_valores', y False si 55 está presente.
print(55 not in lista_valores)  # Esto mostrará True, ya que 55 no está en la lista, aunque 55.5 sí.

True

###Caso ejemplo de los 4 operadores 🎈

Imagina que eres el organizador de un evento escolar que involucra juegos matemáticos. Uno de los juegos consiste en que los estudiantes encuentren números que cumplan con ciertas condiciones.

In [143]:
# Se crea una lista de números especiales para el juego, que son múltiplos de 6.
lista_especiales = [6, 12, 18, 24, 30]

# Se solicita al usuario (un estudiante en este caso) que introduzca un número para verificar.
numero_estudiante = int(input("Introduce un número para el juego del 1 al 100: "))

# Primera condición: Se verifica si el número es múltiplo de 2 y 3 pero no está en 'lista_especiales'.
if numero_estudiante % 2 == 0 and numero_estudiante % 3 == 0 and numero_estudiante not in lista_especiales:
    # Si se cumplen todas las condiciones, se informa al estudiante.
    print("¡Bien hecho! El número es múltiplo de 2 y 3 pero no es un número especial del juego.")

# Segunda condición: Se verifica si el número está en 'lista_especiales'.
elif numero_estudiante in lista_especiales:
    # Si el número está en la lista de especiales, se informa al estudiante.
    print("¡Encontraste un número especial del juego!")

# Si ninguna de las condiciones anteriores se cumple, se informa al estudiante.
else:
    print("El número no cumple con las reglas del juego.")

Introduce un número para el juego del 1 al 100: 36
¡Bien hecho! El número es múltiplo de 2 y 3 pero no es un número especial del juego.

##Funciones

In [145]:
# Definición de una función simple que no recibe argumentos. Una función es un conjunto d instrucciones, y las agrupamos, para poder llamarla
def ejemplo_funcion():
  # Devuelve una cadena de texto que indica que la función fue ejecutada.
    return "Funcion ejecutada."

# Llamada a la función 'ejemplo_funcion' y muestra su resultado.
print(ejemplo_funcion())

Funcion ejecutada.

In [149]:

# Definición de una función que suma dos valores pasados como argumentos.
def suma_dos_valores(a, b):
  # Imprime el resultado de la suma de 'a' y 'b'.
  # Nota: Generalmente, es mejor usar 'return' para devolver valores en lugar de imprimirlos directamente dentro de la función.
  return print(a + b)

# Llamada a la función 'suma_dos_valores' con dos números como argumentos.
suma_dos_valores(5, 7)


def suma_dos_valores(a, b):
  # Retorna la suma de 'a' y 'b'.
  return a + b

# Llamada a la función y muestra el resultado.
print(suma_dos_valores(5, 7))

12

**EJMEPLO 🎈🎈**

Imagina que eres un analista de datos en una empresa que necesita evaluar regularmente las ventas diarias. Quieres comparar el número de ventas de cada día con un objetivo de ventas aleatorio para ver si las ventas fueron mayores, menores o iguales al objetivo.

In [162]:
# Importa la biblioteca numpy para generar objetivos de ventas aleatorios.
import numpy as np

# Define una función que compara el número de ventas ingresado con un objetivo de ventas aleatorio.
def evaluar_ventas(ventas):
    # Genera un objetivo de ventas aleatorio entre 50 y 100.
    objetivo_ventas = np.random.randint(50, 101)

    # Compara el número de ventas ingresado con el objetivo de ventas y asigna un mensaje apropiado a 'resultado'.
    if ventas > objetivo_ventas:
        resultado = f'Excelente! Tus ventas ({ventas}) superaron el objetivo del día ({objetivo_ventas}).'
    elif ventas < objetivo_ventas:
        resultado = f'Ánimo, tus ventas ({ventas}) estuvieron por debajo del objetivo del día ({objetivo_ventas}).'
    else:
        resultado = f'Bien hecho, tus ventas ({ventas}) alcanzaron exactamente el objetivo del día.'

    # Imprime el resultado de la comparación.
    return print(resultado)

# Solicita al usuario que introduzca el número de ventas del día.
ventas_usuario = int(input("Introduce el número de ventas del día: "))

# Llama a la función para evaluar las ventas ingresadas por el usuario.
evaluar_ventas(ventas=ventas_usuario)

Introduce el número de ventas del día: 200
Excelente! Tus ventas (200) superaron el objetivo del día (89).

### Built-in

[Lista funciones built-in](https://docs.python.org/es/3.8/library/functions.html)

La funcionalidad de *args en Python permite a una función aceptar un número variable de argumentos sin nombre. Python recoge todos los argumentos pasados a la función y los agrupa en una tupla, facilitando su manejo dentro de la función.

Aunque se usa comúnmente el término "args" por convención, puedes usar cualquier nombre siempre que esté precedido por un asterisco (*), que es lo que indica a Python que agrupe los argumentos en una tupla.

**EJEMPLO 🎈🎈**
Supongamos que trabajas en una tienda y necesitas una función que pueda sumar los precios de cualquier cantidad de productos que un cliente decida comprar. Aquí es donde puedes utilizar *args para permitir que la función acepte cualquier número de argumentos.

In [161]:
# Definición de la función 'calcular_total_compra'.
# El asterisco (*) antes de 'precios' indica que la función acepta cualquier número de argumentos.
def calcular_total_compra(*precios):
    total = 0  # Inicializa la variable 'total' a 0.

    # Itera sobre cada precio en 'precios'.
    for precio in precios:
        total += precio  # Suma cada 'precio' al total.

    return total  # Devuelve el total de la compra.

# Ejemplo de llamada a la función con distintos números de productos.
total_compra = calcular_total_compra(15.99, 23.50, 9.99)  # El cliente compra tres productos.

# Imprime el resultado de la función, que será el total de los precios pasados como argumentos.
print(f"El total de tu compra es: ${total_compra:.2f}")  # Esto imprimirá el total formateado a dos decimales.

El total de tu compra es: $49.48

###**Kwargs
Cuando tenemos indefinido el número de argumentos que recibirá la función. Python automáticamente toma todos los valores de los argumentos y los almacena como diccionario.

Por convención se utiliza la palabra "args" (*argumentos con clave*) pero puede sustiturise por cualquiera siempre en presencia de un asterisco al principio.

EJEMPLO 🎈🎈🎈

Imagina que estás programando una función que acepta datos de perfil de diferentes usuarios. No sabes de antemano qué información proporcionará cada usuario, por lo que quieres una función que pueda manejar diferentes tipos de datos.

In [ ]:
# Definición de la función 'crear_perfil_usuario'.
def crear_perfil_usuario(**datos_usuario):
    # Inicia la impresión del perfil del usuario.
    print("Perfil del Usuario Creado:")
    # Itera sobre cada par clave-valor en los datos del usuario.
    for clave, valor in datos_usuario.items():
        # Imprime cada clave y valor en el formato especificado.
        print(f"{clave.capitalize()}: {valor}")

# Llamada a la función 'crear_perfil_usuario' con diferentes datos para distintos usuarios.
crear_perfil_usuario(nombre="Elena", edad=28, ciudad="Barcelona", hobby="Escalada")
crear_perfil_usuario(nombre="Miguel", ciudad="Valencia", ocupacion="Desarrollador Web")

Perfil del Usuario Creado:
Nombre: Elena
Edad: 28
Ciudad: Barcelona
Hobby: Escalada
Perfil del Usuario Creado:
Nombre: Miguel
Ciudad: Valencia
Ocupacion: Desarrollador Web

EJEMPLO 🎈🎈🎈🎈

Imagina que eres un analista de datos y necesitas una función flexible para analizar diferentes sets de datos de ventas. Quieres poder ingresar un número variable de datos de ventas, especificar un tipo de análisis (como media, mediana, etc.), y proporcionar opciones adicionales como el año o la región de las ventas.

In [ ]:
# Importa las bibliotecas necesarias para cálculos estadísticos.
import numpy as np

# Definición de la función 'analizar_ventas'.
def analizar_ventas(mes, *ventas, tipo_analisis="media", **opciones):
    # Imprime el mes del análisis.
    print(f"Mes del análisis: {mes}")
    # Imprime los datos de ventas proporcionados.
    print("Datos de ventas:", ventas)
    # Realiza el análisis de ventas basado en el tipo especificado.
    if tipo_analisis == "media":
        resultado = np.mean(ventas)
    elif tipo_analisis == "mediana":
        resultado = np.median(ventas)
    elif tipo_analisis == "suma":
        resultado = sum(ventas)
    else:
        resultado = "Tipo de análisis desconocido"
    print(f"Resultado del análisis ({tipo_analisis}):", resultado)
    # Imprime las opciones adicionales proporcionadas.
    for clave, valor in opciones.items():
        print(f"{clave.capitalize()}: {valor}")

# Llamada a la función con diferentes tipos de argumentos para un análisis completo.
analizar_ventas("Enero", 200, 300, 400, tipo_analisis="media", año=2024, región="Norte")

arg1: A
args: ('B', 'C')
arg2: D
kwargs: {'kwarg2': 'E'}

EJEMPLO 🎈🎈🎈
Supongamos que estás desarrollando una función para un sistema de gestión de usuarios en una aplicación web. Diferentes usuarios pueden proporcionar diferentes cantidades de información personal al registrarse. Quieres una función que pueda manejar esta variabilidad de manera eficiente.

In [ ]:
# Definición de la función 'configurar_usuario'.
def configurar_usuario(**kwargs):
    # Crea un diccionario 'usuario' con valores predeterminados o valores proporcionados a través de 'kwargs'.
    usuario = {
        "nombre": kwargs.get("nombre", "Anónimo"),  # Obtiene 'nombre' de 'kwargs', o usa "Anónimo" por defecto.
        "edad": kwargs.get("edad", "Desconocida"),  # Obtiene 'edad' de 'kwargs', o usa "Desconocida" por defecto.
        "email": kwargs.get("email", "No especificado")  # Obtiene 'email' de 'kwargs', o usa "No especificado" por defecto.
    }
    # Devuelve el diccionario 'usuario' completado.
    return usuario

# Creación de usuarios con diferentes configuraciones utilizando la función 'configurar_usuario'.
usuario1 = configurar_usuario(nombre="Carlos", edad=30, email="carlos@ejemplo.com")
usuario2 = configurar_usuario(nombre="Melisa", email="melisa@ejemplo.com")
usuario3 = configurar_usuario()

# Imprime los detalles de los usuarios para ver los resultados.
print("Usuario 1:", usuario1)
print("Usuario 2:", usuario2)
print("Usuario 3:", usuario3)

Usuario 1: {'nombre': 'Carlos', 'edad': 30, 'email': 'carlos@ejemplo.com'}
Usuario 2: {'nombre': 'Melisa', 'edad': 'Desconocida', 'email': 'melisa@ejemplo.com'}
Usuario 3: {'nombre': 'Anónimo', 'edad': 'Desconocida', 'email': 'No especificado'}

###Lambda
Las funciones lambda en Python son una forma concisa de escribir funciones anónimas para operaciones simples. Características clave:

* Anónimas: No necesitan un nombre al ser definidas, lo cual es útil para operaciones rápidas que no se reutilizan en otras partes del código.
* Sintaxis Simple: Ideal para funciones que realizan una única operación o cálculo con sus argumentos.

EJEMPLO 🎈🎈
Supongamos que tienes una lista de precios de productos y deseas aplicar un descuento del 10% a todos ellos. Podrías usar una función lambda para hacer esto de manera eficiente:

In [ ]:
# Lista de precios originales
precios = [100, 200, 300, 400, 500]

# Aplica un descuento del 10% usando map() y una función lambda
precios_con_descuento = list(map(lambda precio: precio * 0.90, precios))

# Imprime la lista de precios con descuento
print(precios_con_descuento)

EJEMPLO 🎈🎈
Imagina que estás analizando una lista de edades de un grupo de usuarios y quieres filtrar a todos los que son mayores de 18 años:

In [ ]:
# Lista de edades
edades = [14, 25, 30, 17, 21, 16, 28]

# Filtra las edades mayores de 18
mayores_de_18 = list(filter(lambda edad: edad > 18, edades))

# Imprime la lista de edades mayores de 18
print(mayores_de_18)

EJEMPLO 🎈🎈
Supongamos que tienes una lista de tuplas que representan los nombres de los empleados y sus años de servicio. Quieres ordenar esta lista por los años de servicio de forma descendente:

In [ ]:
# Lista de empleados y años de servicio
empleados = [("Ana", 10), ("Luis", 2), ("Carlos", 5), ("Marta", 8)]

# Ordena los empleados por años de servicio de forma descendente
empleados_ordenados = sorted(empleados, key=lambda x: x[1], reverse=True)

# Imprime la lista ordenada de empleados
print(empleados_ordenados)

In [ ]:
# Ejemplo de una función lambda que suma dos números.
suma = lambda a, b: a + b

# Uso de la función lambda para sumar 5 y 3.
print(suma(5, 3))  # Muestra 8

8

In [ ]:
# Define una función lambda que toma una cadena 's' y devuelve su inversa.
invertir_cadena = lambda s: s[::-1]

# Utiliza la función lambda para invertir la cadena "Pontiaaa".
print(invertir_cadena("Pontiaa"))

aaitnoP

In [ ]:
# Define una función lambda que verifica si un número 'x' es par.
es_par = lambda x: x % 2 == 0

# Utiliza la función lambda para verificar si 4 es par.
print(es_par(4))  # Imprime True, ya que 4 es par.

# Utiliza la función lambda para verificar si 7 es par.
print(es_par(7))  # Imprime False, ya que 7 no es par.

True
False

In [ ]:
# Define una función lambda que realiza una operación matemática con los argumentos proporcionados.
# Suma 'x' y cualquier número en 'args', y luego resta el valor de 'kwargs' asociado a la clave 'resta'.
operacion = lambda x, *args, **kwargs: x + sum(args) - kwargs.get('resta', 0)

# Llama a la función lambda con argumentos específicos para demostrar su funcionalidad.
resultado = operacion(10, 2, 3, 4, resta=5)

# Imprime el resultado de la operación.
print(resultado)  # Imprime 14 (10 + 2 + 3 + 4 - 5 = 14).

14

##<font color='yellow'>DESAFÍO

Imagínate organizando una noche de cine con amigos y familiares, donde todos tienen la oportunidad de votar por su película favorita de una lista preseleccionada. El objetivo de este desafío es construir un sistema simple pero completo en Python que no solo permita registrar esos votos, sino también analizarlos e informar sobre la película más popular

- Listado de Películas: Comienza mostrando las películas disponibles para votación, enumeradas para facilitar la elección del usuario.
- Registrar Votos: Se invita al usuario a votar introduciendo el índice de su película favorita. Puede votar tantas veces como desee hasta que escriba 'salir'. Esta parte del código demuestra cómo recoger y procesar entradas del usuario en un bucle, actualizando el diccionario de votos según las elecciones.
- Análisis y Resultado Final: Una vez que el usuario termina de votar, el programa utiliza reduce para determinar cuál película recibió más votos, mostrando el resultado. Esto demuestra la aplicación práctica de reduce para sintetizar una colección de datos en un solo resultado.