<a href="https://colab.research.google.com/github/ContriBCN/ContriBCN/blob/main/Ejercicios_1_Precurso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Crea 2 variables, `a` y `b`, y asignales los valores 5 y 7 respectivamente

In [1]:
a = 5
b = 7

2. Guarda la suma de `a` y `b` en la variable `c`

In [3]:
c = a+b
print(c)

12

3. Actualiza el valor de variable `c` sumandole 2 a sí misma

In [8]:
c = c+2

14

4. Imprime en pantalla el valor de c

In [9]:
print(c)

14

5. Imprime en pantalla la siguiente frase:

"El valor de c es _"

Adaptarlo para que muestre el valor de la variable.

In [22]:
print("El valor de c es " + str(c))

El valor de c es 14

7. Como podemos saber cuál es el tipo de datos de c?

In [13]:
type(c)

int

8. Multiplica `c` por 1.0. Gurada el resultado en `d`

In [14]:
d = c*1.0

9. Qué clase o tipo de dato almacena la variable `d`?

In [15]:
type(d)

float

10. A la luz del tipo de datos vistos en `c` y `d`, podemos decir que ambas variables son iguales? Escribe una expresión booleana que los iguale

11. Guarda en una lista las variables `a`, `b`, `c` y `d`. Llama a la variable que la almacena *lista*

In [23]:
lista = [a,b,c,d]

12. Guarda en una tupla las variables `a`, `b`, `c` y `d`. Llama a la variable que la almacena *tupla*

In [24]:
tupla =(a,b,c,d)

13. Guarda en un diccionario las variables `a`, `b`, `c` y `d`. Las claves o *keys* serán 'a', 'b', 'c' y 'd' y los valores las propias variables.  Llama a la variable que lo almacena *diccionario*

In [25]:
diccionario = {"a" : "a", "b" : "b", "c" : "c", "d" : "d"}

14. Muestra el primer elemento de *lista*

In [26]:
print(lista[0])

5

15. Muestra el último elemento de *tupla*

In [27]:
print(tupla[3])

14.0

16. Convierte *tupla* en una lista. Guarda el resultado en *lista_2*

In [30]:
lista_2 = list(tupla)
type(lista_2)

list

17. Añade un nuevo elemento a *lista_2*, el número 8 por ejemplo

In [32]:
lista_2.extend([8])

18. Muestra la longitud o número de elementos de *lista_2*

In [33]:
print(lista_2)

[5, 7, 14, 14.0, 8]

19. Muestra las claves o *keys* de *diccionario*

In [45]:
claves = list(diccionario.keys())
print(claves)

['a', 'b', 'c', 'd']

20. Muestra los valores o `values` de *diccionario*

In [47]:
valores = list(diccionario.values())
print(valores)

['a', 'b', 'c', 'd']